@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pixel-font: 'Press Start 2P', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  color: var(--foreground);
  font-family: var(--pixel-font);
}

.pixelated-text {
  font-family: var(--pixel-font);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--foreground);
}
