
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding-top: 2rem;
}
.formWrapper {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 2.5rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.1rem;
}
.input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    color: #fff;
    font-size: 1rem;
}
.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkboxLabel {
    margin-left: 0.5rem;
}
.forgotPassword {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.forgotPassword:hover {
    text-decoration: none;
}
.button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #4f005f;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}
.signupLink {
    margin-top: 1.5rem;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
}
.signupLink:hover {
    text-decoration: none;
}
